{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home' %}" class="back-home-btn">
    ← Back to Home
</a>
<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card post-card p-4">

            <div class="text-center mb-4">
                <div class="avatar mx-auto mb-3">
                    {{ user.username|first|upper }}
                </div>

                <h3 class="fw-bold mb-1">Create New Post</h3>
                <p class="text-muted mb-0">Share your thoughts with your network</p>
            </div>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label fw-semibold">Caption</label>
                    {{ form.caption }}
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Upload Image</label>
                    {{ form.image }}
                    <div class="text-center mt-3">
    <img id="preview"
         src=""
         style="display:none;
                max-width:100%;
                max-height:300px;
                border-radius:15px;
                object-fit:cover;
                box-shadow:0 8px 20px rgba(0,0,0,0.15);">
</div>
                    <small class="text-muted">Optional: Add an image to make your post stand out.</small>
                </div>

                <button type="submit" class="btn btn-primary w-100 py-2">
                    Publish Post
                </button>

                <a href="{% url 'home' %}" class="btn btn-outline-dark w-100 mt-2">
                    Cancel
                </a>
            </form>

        </div>

    </div>
</div>
<script>
const imageInput = document.querySelector('input[type="file"]');
const preview = document.getElementById('preview');

if (imageInput) {
    imageInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            preview.style.display = "block";
            preview.src = URL.createObjectURL(file);
        }
    });
}
</script>
{% endblock %}