# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Environment Variables
.env

# Media
media/

# Static collected files
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db