{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}SocialHub — Connect, Share and Chat{% endblock %}
    </title>

    <meta name="description"
          content="{% block meta_description %}SocialHub is a modern social media platform for sharing posts, stories, following users and real-time messaging.{% endblock %}">

    <meta name="keywords"
          content="SocialHub, social media platform, Django, real-time chat, posts, stories">

    <meta name="author"
          content="Aleeza Muqadas">

    <meta name="robots"
          content="index, follow">

    <!-- Open Graph Preview -->
    <meta property="og:type"
          content="website">

    <meta property="og:title"
          content="{% block og_title %}SocialHub — Connect, Share and Chat{% endblock %}">

    <meta property="og:description"
          content="{% block og_description %}Create posts, share stories, follow users and chat in real time on SocialHub.{% endblock %}">

    <meta property="og:url"
          content="{{ request.build_absolute_uri }}">

    <meta property="og:image"
          content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/socialhub-preview.png' %}">

    <!-- Twitter Preview -->
    <meta name="twitter:card"
          content="summary_large_image">

    <meta name="twitter:title"
          content="SocialHub — Connect, Share and Chat">

    <meta name="twitter:description"
          content="A modern social media platform built with Django.">

    <meta name="twitter:image"
          content="{{ request.scheme }}://{{ request.get_host }}{% static 'images/socialhub-preview.png' %}">

    <!-- Favicon -->
    <link rel="icon"
          type="image/png"
          href="{% static 'images/favicon.png' %}">

    <link rel="apple-touch-icon"
          href="{% static 'images/favicon.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}?v=110">
</head>

<body>

{% if request.resolver_match.url_name != "login" and request.resolver_match.url_name != "register" %}

<nav class="app-navbar">
    <a href="{% url 'home' %}" class="app-logo">SocialHub</a>

    <form method="GET" action="{% url 'search_users' %}" class="app-search">
        <input type="search" name="q" placeholder="Search users...">
    </form>

    <div class="top-icons">
        <a href="{% url 'inbox' %}" class="top-icon notify-icon">
            💬
            {% if unread_messages > 0 %}
                <span>{{ unread_messages }}</span>
            {% endif %}
        </a>

        <a href="{% url 'notifications' %}" class="top-icon notify-icon">
            ❤️
            {% if unread_notifications > 0 %}
                <span>{{ unread_notifications }}</span>
            {% endif %}
        </a>

        <button class="hamburger-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu">
            ☰
        </button>
    </div>
</nav>

<div class="offcanvas offcanvas-end custom-menu" tabindex="-1" id="sideMenu">

    <div class="offcanvas-header">
        <h5 class="fw-bold">SocialHub</h5>
        <button class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">

        {% if user.is_authenticated %}
            <div class="menu-user-card mb-4">
                {% if user.profile.profile_picture and user.profile.profile_picture.name != "default.png" %}
                    <img src="{{ user.profile.profile_picture.url }}" class="menu-profile-img">
                {% else %}
                    <div class="story-avatar small">
                        {{ user.username|first|upper }}
                    </div>
                {% endif %}
                <div>
                    <strong>@{{ user.username }}</strong>
                   
                </div>
            </div>
        {% endif %}

        <a href="{% url 'home' %}" class="menu-link">🏠 Home</a>
        <a href="{% url 'create_post' %}" class="menu-link">➕ Create Post</a>
        <a href="{% url 'create_story' %}" class="menu-link">📸 Add Story</a>
        <a href="{% url 'search_users' %}" class="menu-link">🔍 Search Users</a>
        <a href="{% url 'profile' %}" class="menu-link">👤 Profile</a>

        <button type="button" onclick="toggleTheme()" class="menu-link theme-menu-btn">
            🌙 Dark / Light Mode
        </button>

        <form method="POST" action="{% url 'logout' %}" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="logout-menu-btn">
                Logout
            </button>
        </form>

    </div>
</div>

{% endif %}

<main class="app-main">
     {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show custom-alert"
                     role="alert">
                    {{ message }}

                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert">
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</main>

<script>
function toggleTheme(){
    document.body.classList.toggle("dark-mode");

    localStorage.setItem(
        "theme",
        document.body.classList.contains("dark-mode") ? "dark" : "light"
    );
}

if(localStorage.getItem("theme") == "dark"){
    document.body.classList.add("dark-mode");
}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>